@model Course
@section title {
  <title>Create Course | LMSApp</title>
}
<form class="container-sm mt-3" asp-controller="Instructor" asp-action="CourseEdit" method="POST">
  <div class="row justify-content-center">
    <div class="card col-9 p-0">
      <div class="card-header bg-dark" style="color:#2fd3bb;font-size:24px;">
        <div class="card-title text-center pt-3">Create Course</div>
      </div>
      <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-3">
          <div class="row">
            <div class="col input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff; id=" inputGroup-sizing-sm">Title</span>
              <input type="text" asp-for="@Model.Title" class="form-control" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Category</span>
              <input type="text" asp-for="@Model.Category" class="form-control" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="row">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Description</span>
              <textarea type="text" asp-for="@Model.Description" class="form-control" aria-describedby="inputGroup-sizing-sm" style="resize: none;"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Total Hours</span>
              <input type="text" asp-for="@Model.TotalHours" class="form-control" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">ImageUrl</span>
              <input type="text" asp-for="@Model.ImageUrl" class="form-control" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="row">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Level</span>
              <select asp-for="@Model.Level" class="form-control" aria-describedby="inputGroup-sizing-sm">
                <option selected disabled>Seçiniz</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Expert</option>
                <option value="All Levels">All Levels</option>
              </select>
              <span asp-validation-for="@Model.Level" class="text-danger"></span>
            </div>
          </div>
          <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
@section JavaScript
{
  <script src="~/js/jquery.validate.js"></script>
  <script src="~/js/jquery.validate.unobtrusive.js"></script>
}