@model AdminPanelModel
@section title {
  <title>Admin Panel | LMSApp</title>
}
@section css_files {
  <style>
    .accordion-item {
      background-color: #fff;
      border: 0px solid rgba(0, 0, 0, .125);
    }

    .btn btn-outline-info {
      padding: 1.07rem 1.25rem;
    }

    .hoverme:hover {
      background-color: rgba(0, 0, 0, .125) !important;
    }

    .coverme {
      background-color: #00ff88 !important;
    }

    .coverme:hover {
      background-color: #8800ff !important;
    }

    .colorbut:hover {
      background-color: #00ff88 !important;
    }
  </style>
}
<div class="row mt-3">
  <div class="row mb-3 justify-content-center">
    <button class="col-1 ms-3 btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#userAcc" aria-expanded="false" aria-controls="userAcc">Users</button>
    <button class="col-1 ms-3 btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#roleAcc" aria-expanded="false" aria-controls="roleAcc">Roles</button>
    <button class="col-1 ms-3 btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#courseAcc" aria-expanded="false" aria-controls="courseAcc">Courses</button>
  </div>
  <div class="accordion accordion-container" id="acco">
    <div class="accordion-item">
      <div id="userAcc" class="accordion-collapse collapse show" data-bs-parent="#acco">
        <div class="accordion-body" id="userbody">
          @if (Model.Users.Count() > 0)
          {
            <table class="table table-bordered mt-3 sortable">
              <thead>
                <tr class="coverme">
                  <th scope="col"><button class="btn colorbut">FirstName<span aria-hidden="true"></span></button></th>
                  <th scope="col"><button class="btn colorbut">LastName<span aria-hidden="true"></span></button></th>
                  <th scope="col"><button class="btn colorbut">UserName<span aria-hidden="true"></span></button></th>
                  <th scope="col"><button class="btn colorbut">Email<span aria-hidden="true"></span></button></th>
                  <th scope="col"><button class="btn colorbut">EmailConfirmed<span aria-hidden="true"></span></button></th>
                  <th scope="col" style="width: 160px;"></th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model.Users)
                {
                  <tr class="hoverme @(item.EmailConfirmed?"":" bg-warning")">
                    <td scope="row">@item.FirstName</td>
                    <td scope="row">@item.LastName</td>
                    <td scope="row">@item.UserName</td>
                    <td scope="row">@item.Email</td>
                    <td scope="row">@item.EmailConfirmed</td>
                    <td>
                      <a class="btn btn-outline-primary btn-sm" asp-controller="Admin" asp-action="UserEdit" asp-route-id="@item.Id">Edit</a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
          else
          {
            <div class="text-center fs-5 alertwarning">
              <h1 class="h3">No User</h1>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div id="roleAcc" class="accordion-collapse collapse" data-bs-parent="#acco">
        <div class="accordion-body" id="rolebody">
          @if (Model.Roles.Count() > 0)
          {
            <table class="table table-bordered mt-3 sortable">
              <thead>
                <tr class="coverme">
                  <th scope="col"><button class="btn colorbut">Role Name<span aria-hidden="true"></span></button></th>
                  <td style="width: 160px;"></td>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model.Roles)
                {
                  <tr class="hoverme">
                    <td scope="row">@item.Name</td>
                    <td>
                      <a class="btn btn-outline-primary btn-sm" asp-controller="Admin" asp-action="RoleEdit" asp-route-id="@item.Id">Edit</a>
                      @if (!item.Name.Equals("Admin"))
                      {
                        <form asp-controller="Admin" asp-action="DeleteRole" method="POST" style="display: inline;">
                          <input type="hidden" name="RoleId" value="@item.Id">
                          <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
          else
          {
            <div class="text-center fs-5 alertwarning">
              <h1 class="h3">No Role</h1>
            </div>
          }
          <div class="container-sm mt-5">
            <div class="row justify-content-center">
              <a class="col-2 btn btn-outline-primary btn-sm" asp-controller="Admin" asp-action="RoleCreate">Create Role</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div id="courseAcc" class="accordion-collapse collapse" data-bs-parent="#acco">
        <div class="accordion-body" id="coursebody">
          @if (Model.Courses.Count == 0)
          {
            <div class="text-center fs-5 alertdanger">
              <h1 class="h3">No Course</h1>
            </div>
          }
          else
          {
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="accordion">
                  <div class="accordion-item">
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                      <div class="accordion-body" id="">
                        <table class="table sortable">
                          <thead>
                            <tr class="coverme">
                              <th scope="col">IMAGE</th>
                              <th scope="col"><button class="btn colorbut">TITLE<span aria-hidden="true"></span></button></th>
                              <th scope="col"><button class="btn colorbut">DESCRIPTION<span aria-hidden="true"></span></button></th>
                              <th scope="col"><button class="btn colorbut">INSTRUCTOR<span aria-hidden="true"></span></button></th>
                              <th scope="col"><button class="btn colorbut">ENROLLMENT<span aria-hidden="true"></span></button></th>
                              <th scope="col"><button class="btn colorbut">HOURS<span aria-hidden="true"></span></button></th>
                              <th scope="col"><button class="btn colorbut">LEVEL<span aria-hidden="true"></span></button></th>
                              <th scope="col"><button class="btn colorbut">RATE<span aria-hidden="true"></span></button></th>
                              <th scope="col">UPDATED</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider">
                            @foreach (var course in Model.Courses)
                            {
                              <tr class="hoverme">
                                <td><img src="@course.Course.ImageUrl" width="80"></td>
                                <td scope="row">@(@course.Course.Title.Length > 10 ? @course.Course.Title.Substring(0, 10) + "..." : @course.Course.Title)</td>
                                <td scope="row">@(@course.Course.Description.Length > 10 ? @course.Course.Description.Substring(0, 10) + "..." : @course.Course.Description)</td>
                                <td scope="row">@course.Instructor.FirstName @course.Instructor.LastName</td>
                                <td scope="row">@course.Course.EnrollmentCount</td>
                                <td scope="row">@course.Course.TotalHours</td>
                                <td scope="row">@course.Course.Level</td>
                                <td scope="row">
                                  <ul class="list-group list-group-horizontal" style="list-style-type: none;font-weight: 400;">
                                    @if ((int)course.Course.Rate > 0)
                                    {
                                      
                                      @for (int j = 0; j < (int)course.Course.Rate; j++){<li style="color:#FFC000;">★</li>}
                                      @for (int k = 0; k < 5 - (int)course.Course.Rate; k++){<li style="color:#D8D8D8;">★</li>}
                                      @((int)(course.Course.Rate))
                                    }
                                    else{<li style="color:#ff8800">No Rating</li>}
                                  </ul>
                                </td>
                                <td scope="row">
                                  <div class="row justify-content-center">
                                    @if (course.Course.isUpdated){<img src="~/img/check.svg" style="width: 30px;"/>}
                                    else{<img src="~/img/xmark.svg" style="width: 30px;"/>}
                                  </div>
                                </td>
                                <td>
                                  <form asp-controller="Admin" asp-action="DeleteCourse">
                                    <input type="hidden" name="id" value="@course.Course.Id" />
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                  </form>
                                </td>
                              </tr>
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
@section JavaScript {
  <script src="~/js/sorttable.js"></script>
}
