@model UserDetailsModel
@section title {
  <title>Edit User | ScrapApp</title>
}

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="card col-8 p-0">
      <div class="card-header bg-dark" style="color:#109801;font-size:24px;">
        <div class="card-title text-center pt-3">Edit User</div>
      </div>
      <div class="card-body">
        <form asp-controller="Admin" asp-action="UserUpdate" method="POST">
          <div class="form-group">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
              <div class="col-9">
                <input type="hidden" name="UserId" value="@Model.UserId">
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text bg-secondary" style="color:#fff; id=" inputGroup-sizing-sm">First Name</span>
                  <input type="text" asp-for="FirstName" class="form-control" aria-describedby="inputGroup-sizing-sm">
                  <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Last Name</span>
                  <input type="text" asp-for="LastName" class="form-control" aria-describedby="inputGroup-sizing-sm">
                  <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Username</span>
                  @if (Model.UserName.Equals("admin"))
                  {
                    <input type="text" asp-for="UserName" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly>
                  }
                  else
                  {
                    <input type="text" asp-for="UserName" class="form-control" aria-describedby="inputGroup-sizing-sm">
                  }
                  <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">E-Mail</span>
                  <input type="text" asp-for="Email" class="form-control" aria-describedby="inputGroup-sizing-sm">
                  <span asp-validation-for="Email" class="text-danger"></span>
                </div>
              </div>
              <div class="col-3">
                @foreach (var rolename in ViewBag.Roles)
                {
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" name="selectedRoles" value="@rolename" aria-label="Checkbox for following text input" id="@rolename" @(Model.SelectedRoles.Any(i => i == rolename) ? "checked" : "")>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" value="@rolename">
                  </div>
                }
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" asp-for="EmailConfirmed">
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with checkbox" value="EmailConfirmed">
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-info" style="max-width: 160px;color:#08f;">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section JavaScript
  {
  <script src="~/js/jquery.validate.js"></script>
  <script src="~/js/jquery.validate.unobtrusive.js"></script>
}