@model InstructorCourse
@section title {
  <title>Course Details | LMSApp</title>
}
<div class="container mt-3">
  <div class="row">
    <div class="card mb-3">
      <div class="row g-0 mt-3">
        <div class="col-3">
          <img src="@Model.Course.ImageUrl" alt="@Model.Course.Title" class="card-img-top img-fluid" style="border: none;"/>
        </div>
        <div class="col-9">
          <div class="card-body">
            <div class="list-group list-group-flush fs-5">
              <li class="list-group-item" style="border:none;"><h1 class="fs-4" style="color:#000;display:inline;">@Model.Course.Title</h1></li>
              <li class="list-group-item" style="border:none;color:#666;">@Model.Course.Description</li>
              <li class="list-group-item" style="border:none;color:#666;">Instructor: @Model.Instructor.FirstName @Model.Instructor.LastName </li>
              <li class="list-group-item" style="border:none;color:#666;">Category: @Model.Course.Category</li>
              <li class="list-group-item" style="border:none;color:#666;">Total Hours: @Model.Course.TotalHours</li>
              <li class="list-group-item" style="border:none;color:#666;">Level: @Model.Course.Level</li>
            </div>
          </div>
          <div class="list-group list-group-horizontal">
              <li class="list-group-item p-0 pt-2 fs-4 ms-5" style="font-size:1rem;border:none;">
                <ul class="list-group list-group-horizontal" style="list-style-type: none;font-weight: 400;color:#FFC000">
                  @for (int j = 0; j < (int)Model.Course.Rate; j++){<li style="color:#FFC000;">★</li>}
                  @for (int k = 0; k < 5 - (int)Model.Course.Rate; k++){<li style="color:#D8D8D8;">★</li>}
                </ul>
              </li>
          </div>
          @if(!User.IsInRole("Admin"))
          {
            <div class="input-group justify-content-center mb-3">
              <form asp-controller="Course" asp-action="Enroll" method="POST" class="form-inline">
                <input type="hidden" name="courseId" value= "@Model.Course.Id">
                <button class="btn btn-outline-primary btn-lg" type="submit" style="min-width:100px;background-color:#f27a1a">Enroll</button>
              </form>
            </div>
          }else{
            <div class="input-group justify-content-center mb-3">
              <a asp-controller="Admin" asp-action="CourseDetail" asp-route-id="@Model.Course.Id" class="btn btn-outline-primary btn-lg" style="min-width:100px;background-color:#f27a1a">View</a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>